*{
    margin:0;
    padding:0;
}
.step-container{
    display:flex;
    margin-left:55px;
}
.count-container{
    display:flex;
    margin-left:55px;
}
h1{
    text-align:center;
}
button{
    width:20px;
    cursor: pointer;

}
.counter-container{
    margin-left:410px;
    margin-top:130px;
    background-color:rgb(100,200,100);
    height:40vh;
    width:300px;
    padding:70px;
}

.reset{  
    margin-left:150px;;
}
.date-container{
    margin-left:55px;
    font-size:12px;
}
